*{
    margin: 0px;
    padding: 0px;
}
.navbar{

width: 100%;

background-color: blueviolet;

display: flex;
}
.temp{margin-left: 39px;}
.temp h2{

margin-left: 26px;

margin-bottom: 5px;

align-content: center;

margin-top: -10px;
}
.anc {

margin-left: 561px;

margin-top: 15px;
}
.anc a{

text-decoration: 0px;

margin-left: 58px;


margin-top: 34px;

color: black;}


.bg_img{
    background-image: url(bg2.png);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.text{
    width: 50%;
    
}
.content {

margin-left: 59px;

margin-top: 50px;
}
.content h1{

}
.content h3{

}
.content button{
    
background-color: navy;
    
color: white;
    
padding: 9px 31px;
    
border-radius: 38px;
    
border: 0px;
    
margin: 13px 0px;
}
.icon{

margin-left: 43px;

margin-top: 14px;

font-size: 24px;

color: deepskyblue;
}
.icon i{

margin-left: 18px;

background-color: 17px;
}

.icon i:hover{
background-color: black

}

.image{

width: 50%;

margin-left: 813px;

margin-bottom: 80px;

margin-top: -294px;

}